<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <style>
            body { font-family: Arial, sans-serif; padding: 20px; }
            .btn {
                background-color: #2e86de;
                color: white !important;
                padding: 10px 20px;
                text-decoration: none;
                border-radius: 5px;
            }
        </style>
    </head>
    <body>
        <h2 th:text="'Halo ' + ${username} + ','"></h2>
        <p>Click the link below to reset your password</p>
        <br>
        <a class="btn" th:href="${resetLink}">Reset Password</a>
        <br>
        <div style="margin-top: 50px">
            <p>This link will expire in 15 minutes.</p>
        </div>

    </body>
</html>